Flask==2.3.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.5
Flask-SocketIO==5.3.6

Werkzeug==2.3.7
gunicorn

# Environment
python-dotenv==1.0.0

# HTTP
requests==2.31.0

# Authentication / Payments
stripe==7.0.0

# OpenAI + GPT + Audio
openai
gTTS

# Websocket for Replicate
websocket-client==1.7.0

# Image processing
Pillow
pytesseract

# PDF + DOCX
PyPDF2
python-docx
reportlab

# Torch / Audio STT


# Utilities
uuid
json5
